/* jjjjjjj */

/* div img {
  margin: -0.8rem 2rem;
}

nav,
.navbar {
  background-color: #212a2a !important;
}

.navbar .navbar-nav {
  padding: 0 2.3rem !important;
}

.navbar .nav-item a {
  color: greenyellow !important;
  font-size: 1.2rem;
} */

/* .navbar .navbar-nav {
  padding: 22rem 66rem !important;
} */
