* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(/static/fonts/JosefinSans-Medium.ttf);
  font-family: Kennart;
}

body {
  background-image: url(/static/images/u.jpg);
  background-color: rgb(46, 107, 131);
  height: 7rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-frm {
  margin: auto;
  width: 13rem;
  padding: 3.5rem 0rem;
}

label {
  color: rgb(248, 248, 248);
  font-size: 1.3rem;
}

legend {
  color: lawngreen;
  font-size: 1.2rem;
  font-family: Kennart;
  text-align: center;
}

body {
  background-color: rgb(183, 234, 236);
}

#tmtm {
  margin: 0.8rem 5.2rem;
  width: 8rem;
}

#nb {
  margin: -2.8rem auto 19rem 14rem;
  width: 4.5rem;
}

.login-frm {
  background: #07272f;
  border-radius: 0.5rem;
  padding: 15px 22px;
  width: 21.5rem;
  border: 1px solid #dddddd;
  border: 1px solid #ca1b1b;
  height: 22rem;
}

.login-frm h6 {
  color: white;
  margin: 1.3rem 0rem;
}
