adblockparser==0.7
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aioconsole==0.3.1
aiodns==2.0.0
aiohttp==3.7.4
aiomultiprocess==0.8.0
aioredis==1.3.1
aiosqlite==0.16.1
aiowinreg==0.0.3
ajpy==0.0.4
altgraph==0.17
aniso8601==8.1.1
apispec==3.3.1
apispec-webframeworks==0.5.2
appdirs==1.4.4
argcomplete==1.8.1
argh==0.26.2
asciitree==0.3.3
asgiref==3.3.0
asn1crypto==1.4.0
async-timeout==3.0.1
asysocks==0.0.2
attrs==20.3.0
autobahn==17.10.1
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
BareNecessities==0.2.8
bcrypt==3.1.7
beautifulsoup4==4.9.3
bidict==0.21.2
boltons==19.1.0
bottle==0.12.19
Bottleneck==1.2.1
bpython==0.21
Brlapi==0.8.2
cv2-tools==2.4.0
cwcwidth==0.1.4
cx-Freeze==6.7
cx-Freeze-395==6.0b1
cycler==0.10.0
Cython==0.29.21
dbus-python==1.2.16
debtags==2.1
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.0.7
dhcpig==0.0.0
dicttoxml==1.7.4
distlib==0.3.1
distro==1.5.0
distro-info==1.0
Django==2.2.24
dnslib==0.9.14
dnspython==2.0.0
dropbox==10.10.0
easydict==1.9
ecdsa==0.16.1
email-validator==1.1.1
et-xmlfile==1.0.1
evdev==1.4.0
eventlet==0.31.1
ExifRead==2.3.2
faraday-client==1.0.0
faraday-plugins==1.4.5
faradaysec==3.15.0
feedparser==5.2.1
fierce==1.4.0
filedepot==0.5.2
filelock==3.0.12
filteralchemy==0.1.0
flasgger==0.9.5
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Classful==0.14.1
Flask-KVSession-fork==0.6.3
Flask-Limiter==1.0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-MySQLdb==0.2.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.8
Flask-Security-Too==4.0.0
Flask-Session==0.3.2
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
freetype-py==2.2.0
future==0.18.2
GDAL==3.2.1
GeoIP==1.3.2
geoip2==2.9.0
geojson==2.5.0
gevent==20.9.0
gevent-websocket==0.10.1
gif2numpy==1.3
gitdb==4.0.5
GitPython==3.1.14
glx==0.6
gpg===1.14.0-unknown
graphene==2.1.7
graphene-sqlalchemy==2.1.2
graphql-core==2.2.1
graphql-relay==2.0.0
greenlet==0.4.17
gunicorn==20.1.0
gyp==0.1
h11==0.12.0
h2==4.0.0
hashID==3.1.4
ipython==7.20.0
ipython_genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.0
jedi==0.18.0
Jinja2==2.11.3
Mail==2.1.0
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.19.0
matplotlib==3.3.4
maxminddb==2.0.3
mechanize==0.4.5
mercurial==5.6.1
minidump==0.0.12
minikerberos==0.2.0
mistune==0.8.4
mitmproxy==6.0.2
more-itertools==4.2.0
MouseInfo==0.1.3
Pil-Lite==0.1.1
PIL-Tools==1.1.0
PILasOPENCV==2.7
Pillow==8.1.2
Pillow-PIL==0.1.dev0
requests==2.25.1
requests-file==1.5.1
requests-futures==1.0.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
retrying==1.3.3
Routes==2.5.1
sockets==1.0.0
SQLAlchemy==1.3.22
sqlalchemy-schemadisplay==1.3
SQLAlchemy-Utc==0.11.0
Tree==0.2.4
unicodecsv==0.14.1
Unidecode==1.2.0
urllib3==1.26.4
venusian==3.0.0
vinetto==0.8.0
virtualenv==20.4.0+ds
wapiti3==3.0.4
watchdog==1.0.2
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
WTForms==2.2.1
wxPython==4.0.7

