{% extends 'base.html' %} 
{% block head %}

<title>{% block title %}About Page{% endblock %}</title>

<link rel="icon" href="{{ url_for('static', filename='/images/Icon.ico') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='/css/about.css') }}"/>
{% endblock %} 
{% block content %}

<img class="img-banner" src="{{ url_for('static', filename='/cssk/cck.jpg') }}"alt="image"/ width="1" height="600">
<div class="wrapper">

  <!-- <article class="my-self">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='/images/boss.jpg')}}" alt="image">
  <h1>Kenneth Lumor</h1>
  <h3>Co-founder, CEO, and Instructor</h3>
  
  </article> -->

  <article class="img-info">
    <h1>Kenneth Lumor</h1>
    <h3>Co-founder, CEO, and Instructor</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
      maiores fugiat, illum commodi in natus voluptatum.</p>
    <p>A optio ut quasi quidem soluta voluptate omnis reiciendis quos sequi
      libero ab nesciunt?Lorem ipsum dolor sit amet consectetur adipisicing
      elit.</p>
    <p>Cupiditate maiores fugiat, illum commodi in natus voluptatum a optio ut
      quasi quidem soluta voluptate omnis reiciendis quos sequi libero ab
      nesciunt.</p>
  </article>
  <img class="rounded-circle account-img img-me" src="{{ url_for('static', filename='/images/boss.jpg') }}"alt="image"/>
</div>
{% endblock %}

