{% extends 'base.html' %} {% block head %}
<title>{% block title %}Contact{% endblock %}</title>

<link rel="icon" href="{{ url_for('static', filename='/css/Icon.ico') }}" />

<link rel="stylesheet"href="{{ url_for('static', filename='/css/contact.css') }}"/>

{% endblock %} {% block content %}
<br /><br /><br /><br /><br />

<main>
  
    <div class="wrapper">
      <h2 class="gallery-links-h2">Gallery</h2>
    </div>

    <section class="'gallery-links">
      
      <a href="{{ url_for('views.about')}}" class="gallery-img">
          <img class="img-me"src="{{ url_for('static', filename='/css/web.jpg') }}"alt="kennart"width="50"height="50"/>
      </a>

      <a href="{{ url_for('views.about')}}" class="gallery-img">
          <img class="img-me"src="{{ url_for('static', filename='/css/web.jpg') }}"alt="kennart"width="50"height="50"/>
      </a>
    </section>

</main>

{% endblock %}
