{% extends 'base.html' %} 
{% block head %}
<title>{% block title %}Login{% endblock %}</title>

<link rel="icon" href="{{ url_for('static', filename='/images/Icon.ico') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}"/>
{% endblock %} 
{% block content %}
<body>
  <br /><br /><br /><br /><br /><br />

  <form class="login-frm" action="" method="POST">
    {{ form.hidden_tag() }}<!---form.hidden_tag()  this is preventing the form from attack--->

    <legend class="borger-bottom mb-4">Login to KennartFoundation</legend>

    {{ form.email_address.label() }} 
    {{ form.email_address(class="form-control", placeholder="email")}} 

    {{ form.password.label() }} 
    {{ form.password(class="form-control", placeholder="password")}} 

    {{ form.remember(class="form-check-input") }} 
    {{ form.remember.label(class="form-check-label") }}

    <div id="tmtm">
    {{ form.submit(class="btn btn-outline-info") }}
    </div>

    <div class="new">
    <h6>New to kennartfoundation?</h6>
    <a id="nb" class="btn btn-sm btn-outline-info" href="{{ url_for('auth.signup')}}">Register</a>
    </div>
  </form>
</body>
{% endblock %}
